<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<% @books.each do |book| %>
  <p> <%= book.name %> </p><br  >
<%end  %>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><%= review.comment %></p>
      <p><%= review.rating %></p>
    </li>
  <% end %>
</ul>

<h2> Add a review </h2> %>
<%=  simple_form_for [@request, @user, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.submit "Submit review" %>
<% end %>


