<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<ul>
  <% @user.books.each do |book| %>
    <li><%= book.name %></li>
  <% end %>
</ul>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><%= review.comment %></p>
      <p><%= review.rating %></p>
    </li>
  <% end %>
</ul>

<h2> Add a review </h2>
<%#=  simple_form_for [@user, @review] do |f| %>
  <%#= f.input :rating %>
  <%#= f.input :comment %>
  <%#= f.submit "Submit review" %>
<%# end %>
