
<%# tells us the name of the data controller eg tabulator %>
<div class="contents" data-controller="tabulator">
  <div class="tab">
    <button data-tabulator-target="profileLink" data-action="click->tabulator#displayProfile">Profile</button>
    <button data-tabulator-target="booksLink" data-action="click->tabulator#displayBooks">Books</button>
    <button data-tabulator-target="reviewsLink" data-action="click->tabulator#displayReviews">Reviews</button>
  </div>

<%# Profile tab %>
  <div data-tabulator-target="profile" class="tabcontent">
    <div class="profile-container">
      <% if @reviews.length > 0 %>
        <h3>Average Rating</h3>
        <% @total = 0 %>
        <% @reviews.each do |review| %>
          <% @total += review.rating  %>
        <% end %>
        <% @average =  (@total.to_f / @reviews.length) %>
        <p><%=@averageround =  (@total.to_f / @reviews.length).round(1) %></p>
      <% end  %>
      <div class="frame">
        <div class="center">
          <div class="profile">
            <div class="image">
              <div class="circle-1"></div>
              <div class="circle-2"></div>
              <img src="https://www.gravatar.com/avatar/9017a5f22556ae0eb7fb0710711ec125?s=128" width="70" height="70" alt="<%= @user.first_name %> <%= @user.last_name %>">
            </div>
            <div class="name"><%= @user.first_name %> <%= @user.last_name %></div>
            <div class="actions">
              <button class="btn">Request Swap</button>
              <button class="btn">Message</button>
            </div>
          </div>

          <div class="stats">
            <div class="box">
              <span class="value"><%= @averageround %></span>
              <span class="parameter">Average Rating</span>
              <div class="Stars" style="--rating: <%= @average %>;" aria-label="Rating of this product is  <%= @averageround %> out of 5."></div>
            </div>
            <div class="box">
              <span class="value">5</span>
              <%# add swaps.length below when model made %>
              <span class="parameter">Previous Swaps</span>
            </div>
            <div class="box">
              <span class="value">Crime</span>
              <span class="parameter">Favourite Genre</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%# Books tab %>
  <div data-tabulator-target="books" class="tabcontent">
      <h3>My Books</h3>
      <ul>
        <% @user.books.each do |book| %>
          <li><%= book.name %></li>
        <% end %>
      </ul>
      <%= link_to "home", root_path %>
  </div>


<%# Reviews tab %>
  <div data-tabulator-target="reviews">
    <div class="review-container">
      <% @reviews.each do |review| %>
        <div class="review-container">
          <img src="https://www.gravatar.com/avatar/9017a5f22556ae0eb7fb0710711ec125?s=128" alt="Avatar" style="width:90px">
          <span><%= review.user.first_name %></span>
          <p><%= review.comment %></p>
          <p><%= review.rating %></p>
          <div class="Stars" style="--rating: <%= review.rating %>;" aria-label="Rating of this product is  <%= review.rating %> out of 5."></div>
        </div>
      <% end %>
    </div>

    <h2> Add a review </h2>
    <%=  simple_form_for ([@request, @user, @review]) do |f| %>
      <%= f.input :rating, :collection => %w[0 1 2 3 4 5]  %>
      <%= f.input :comment %>
      <%= f.submit "Submit review", data: { turbo_method: :post } %>
    <% end %>

    <br>

  </div>

</div>
