<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2>My Books</h2>
<ul>
  <% @user.books.each do |book| %>
    <li><%= book.name %></li>
  <% end %>
</ul>
<ul>
<%= link_to "home", root_path %>
  <%# <% @reviews.each do |review| %>
    <%# <li> %>
      <%# <p><%= review.comment %>
      <%# <p><%= review.rating %>
    <%# </li> %>
  <%# <% end %>
<%# </ul> %>


<%# #<h2> Add a review </h2> %>
<%# #<%=  simple_form_for [@request, @user, @review] do |f| %>
 <%# # <%= f.input :rating %>
  <%# #<%= f.input :comment %>
 <%# # <%= f.submit "Submit review" %>
<%# #<% end %>
