
<%# tells us the name of the data controller eg tabulator %>
<div class="container">
  <div class="contents" data-controller="tabulator">
    <div class="tab">
      <button class="each-tab" data-tabulator-target="booksLink" data-action="click->tabulator#displayBooks">Bookshelf</button>
      <button class="each-tab" data-tabulator-target="profileLink" data-action="click->tabulator#displayProfile">Profile</button>
    </div>

    <%# calculate the average rating %>

    <% if @reviews.length > 0 %>
      <% @total = 0 %>
      <% @reviews.each do |review| %>
        <% @total += review.rating  %>
      <% end %>
      <% @average = (@total.to_f / @reviews.length) %>
      <% @averageround = (@total.to_f / @reviews.length).round(1) %>
    <% end %>

    <%# Book tab %>

    <div data-controller="bookenator" data-tabulator-target="books" class="tabcontent">
    <!--
      <h3>Available Books</h3>
      <p>Click which book you would like to select!</p>
      <h3>Available Books</h3>
      <p>Have a look at my wares to be traded!</p>
      <ul>
        <% @user.books.each do |book| %>
          <%= button_to request_user_swaps_path(@request, @user), data: {turbo_method: :post}, data: {turbo_method: :delete, turbo_confirm: "Are you sure to swap this book?"} do %>
            <li><img src="<%= book.photo %>" alt="<%= book.name %>" style="max-width:200px;"></li>
            <%= hidden_field_tag "book_id", book.id %>
          <% end %>
        <% end %> -->

        <% @user.books.each do |book| %>
          <div class="">
            <li data-action="click->bookenator#toggleInfo"><img src="<%= book.photo %>" alt="<%= book.name %>" style="max-width:200px;"></li>
            <div class="d-none">
              <p><%= book.name %></p>
              <%= button_to request_user_swaps_path(@request, @user), data: {turbo_method: :post}, data: {turbo_method: :delete, turbo_confirm: "Are you sure to swap this book?"} do %>
                <span>Request Swap</span>
                <%= hidden_field_tag "book_id", book.id %>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>

    <!--

    <%# Bookenator%> to be continued

      <div class="bookcontents" data-controller="bookenator">
        <%# books show hide below here %>
        <div class="booktab">
          <%# create button for each book %>
          <% @user.books.each do |book| %>
            <button data-bookenator-target="button" data-action="click->bookenator#displayBook" data-id="<%= book.id %>"><%= book.name %></button>
          <% end %>
        </div>
      <%# all the book/info go under here %>
        <% @user.books.each do |book| %>
          <div class="d-none" data-bookenator-target="book" data-id="<%= book.id %>" class="bookcontent">
            <p><%= book.name %></p>
          </div>
        <% end %>
      </div>
      end of bookenator
    </div>

    -->
    <%# end of bookenator %>

    <%# Profile tab %>
    <div data-tabulator-target="profile">
      <div class="profile-container container-row">
        <div class="profile-card layer1">
          <div class="center">
            <div class="profile">
              <div class="image">
              <%= cl_image_tag @user.avatar.key,class:"card-book-user avatar-bordered"%>
              </div>
              <div class="name"><%= @user.first_name %> <%= @user.last_name %></div>
              <div class="parameter">Average rating</div>
              <br>
              <div class="value"><%= @averageround %></div>
              <div class="Stars" style="--rating: <%= @average %>;" aria-label="Rating of this product is  <%= @averageround %> out of 5."></div>
              <%# <div class="address">My address:</div> %>
              <div class="actions">
              </div>
            </div>

            <div class="stats">
              <div class="box">
                <span class="parameter">Previous swaps:</span>
                <span class="value">5</span>
                <%# add swaps.length below when model made %>
              </div>
              <div class="box">
                <span class="parameter">Favourite genre:</span>
                <span class="value">Crime</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
