<div id='hidding' class="navbar hide-navigation-item">
      <%= link_to "/books/new" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
      <%= link_to "/books" do %>
        <i class="fa-solid fa-book"></i>
      <% end %>
      <%= link_to "/mydashboard" do %>
        <i class="fa-solid fa-right-left"></i>
      <% end %>
        <%= link_to "/users/edit" do %>
        <%= cl_image_tag current_user.avatar.key, class:"card-book-user avatar-bordered" %>
      <% end %>
</div>
