<div class="dashboard-container">
  <div class="top-card">
   <div class="title">My dashboard</div>
  </div>
  <br>
  <h4 class="Swaps_title">Pending Swaps</h4>
  <hr>
  <ul>
    <% current_user.requests_as_owner.each do |request| %>
      <% if request.swaps.empty? %>
        <li>
          <%= image_tag request.book.photo %>
          <div>
            <p><%= request.user.first_name %> has requested <br><i><%= request.book.name[0,30] %></i></p>
            <%= link_to "Check #{request.user.first_name}'s bookshelf", request_user_path(request, request.user), class: 'button' %>
            <%# <%= link_to "X", mydashboard_path, class: 'button' %>
          </div>
        </li>
      <% end %>
    <% end %>
    <% current_user.requests.each do |request| %>
      <% if request.swaps.empty? %>
        <li>
          <%= image_tag request.book.photo %>
          <div>
            <p>You have requested <i><%= request.book.name.first(30) %></i> from <%= request.book.user.first_name %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h4 class="Pending_title">Completed Swaps</h4>
  <hr>
  <ul>
    <% current_user.requests_as_owner.each do |request| %>
      <% if request.swaps.any? %>
      <li>
        <%= image_tag request.swaps[0].book.photo %>
        <div>
          <p><%= request.user.first_name %> requested <i><%= request.book.name[0,30] %></i> from you!</p>
          <p>Please send it to <%= request.user.first_name %> at <%= request.user.address %></p>
        </div>
        <%= image_tag request.book.photo %>
      </li>
      <% end %>
    <% end %>
    <% current_user.requests.each do |request| %>
      <% if request.swaps.any? %>
        <li>
          <%= image_tag request.swaps[0].book.photo %>
          <div>
            <p>Please send your book <i><%= request.swaps[0].book.name %></i> to <%= request.swaps[0].user.first_name %> at <%= request.swaps[0].user.address %></p>
            <p>You chose: <i><%= request.book.name.first(30) %> from <%= request.user.first_name %></i></p>
          </div>
          <%= image_tag request.book.photo %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
