<div class="dashboard-container">
<div class="top-card">
  <div class="title">My dashboard</div>
  </div>
  <br>
  <h4 class="Swaps_title">Pending Swaps</h4>
  <ul>
    <% current_user.requests_as_owner.each do |request| %>
      <% if request.swaps.empty? %>
        <li>
          <%= image_tag request.book.photo %>
          <div class="swap-text-info">
            <p><%= request.user.first_name %> has requested <br> "</strong><%= request.book.name %></strong>"</p>
            <%= link_to "See #{request.user.first_name}'s bookshelf", request_user_path(request, request.user), class: 'btn btn-green' %>
            <%# <%= link_to "X", mydashboard_path, class: 'button' %>
          </div>
        </li>
      <% end %>
    <% end %>
    <% current_user.requests.each do |request| %>
      <% if request.swaps.empty? %>
        <li>
          <%= image_tag request.book.photo %>
          <div>
            <p>You have requested </p>
            <p><i><%= request.book.name.first(30) %></i> from <%= request.book.user.first_name %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h4 class="Pending_title">Completed Swaps</h4>
  <ul class="pending-swaps-bg">
    <% current_user.requests_as_owner.each do |request| %>
      <% if request.swaps.any? %>
      <li>
        <%= image_tag request.swaps[0].book.photo %>
        <div>
          <p>Please send </p>
          <p> <strong>"<%= request.book.name[0,30] %>"</strong></p>
          <p>to <%= request.user.first_name %> at <%= request.user.address %></p>
        </div>
        <%= image_tag request.book.photo %>
      </li>
      <% end %>
    <% end %>
    <% current_user.requests.each do |request| %>
      <% if request.swaps.any? %>
        <li>
          <%= image_tag request.book.photo %>
          <div>
            <p>Please send </p>
            <p><i><%= request.swaps[0].book.name %></i> </p>
            <p>to <%= request.swaps[0].user.first_name %> at <%= request.swaps[0].user.address %></p>
          </div>
          <%= image_tag request.swaps[0].book.photo %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
