<br>
<div class="container">
  <div class=title>My dashboard</div>
  <br>
  <h3>My swaps: </h3>
  <ul>
    <% current_user.requests_as_owner.each do |request| %>
      <li>
        <p> <%= request.user.first_name %> requested <i><%= request.book.name[0,30] %></i> from you!</p>
        <% if request.swaps.empty? %>
          <%= link_to "✓ Pick a book to swap", request_user_path(request, request.user), class: 'button' %>
        <% else %>
          <p>You have selected: <i><%= request.swaps[0].book.name[0,30] %> </i>from <%= request.user.first_name %></p>
        <% end %>
        <%# <%= link_to "X", mydashboard_path, class: 'button' %>
        <hr>
      </li>
    <% end %>
  </ul>
<h3>Pending requests: </h3>
  <ul>
    <% current_user.requests.each do |request| %>
    <li>
      Book: <%= request.book.name.first(30) %> Requested to <%= request.book.user.first_name %>

    </li>
    <% end %>
  </ul>
  </div>
  </div>
</div>
