<div class="dashboard-container">
  <div class="top-card">
    <div class="title">My dashboard</div>
  </div>
  <br>
  <h4 class="Swaps_title">Pending Swaps</h4>
  <ul>
    <% current_user.requests_as_owner.each do |request| %>
      <% if request.swaps.empty? %>
        <li>
          <%= image_tag request.book.photo %>
          <div class="swap-text-info">
            <p><%= request.user.first_name %> has requested "<strong><%= request.book.name %></strong>"</p>
            <%= link_to "See #{request.user.first_name}'s bookshelf", request_user_path(request, request.user), class: 'btn btn-green' %>
            <%# <%= link_to "X", mydashboard_path, class: 'button' %>
          </div>
        </li>
      <% end %>
    <% end %>
    <% current_user.requests.each do |request| %>
      <% if request.swaps.empty? %>
        <li>
          <%= image_tag request.book.photo %>
          <div class="swap-text-info">
            <p>You have requested "<strong><%= request.book.name.first(30) %></strong>" from <%= request.book.user.first_name %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h4 class="Pending_title">Completed Swaps</h4>
  <ul class="pending-swaps-bg">
    <% current_user.requests_as_owner.each do |request| %>
      <% if request.swaps.any? %>
      <li>
        <%= image_tag request.swaps[0].book.photo %>
        <div>
          <p>Please send <strong>"<%= request.book.name[0,30] %>"</strong> to <%= request.user.first_name %> at <%= request.user.address %></p>
        </div>
        <%= image_tag request.book.photo %>
      </li>

      <div style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Leave a review
        </button>
      </div>

      <!-- <div style="display: flex; justify-content: center;">
      <%= link_to "Add review", request_user_path(request, request.user), class: 'btn btn-green'%>
      </div> -->

      <% end %>
    <% end %>
    <% current_user.requests.each do |request| %>
      <% if request.swaps.any? %>
        <li>
          <%= image_tag request.book.photo %>
          <div>
            <p>Please send <strong><%= request.swaps[0].book.name %></strong> to <%= request.swaps[0].user.first_name %> at <%= request.swaps[0].user.address %></p>
          </div>
          <%= image_tag request.swaps[0].book.photo %>
        </li>

      <div style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Leave a review
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <%= simple_form_for [request, request.swaps[0].user, @review] do |f| %>
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Leave a review</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= f.input :rating %>
                    <%= f.input :comment %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn secondary-btn" data-bs-dismiss="modal">Close</button>
                  <%= f.submit "Save Changes", class: "btn btn-green" %>
                </div>
              <% end %>
            </div>
          </div>

        <!-- <div style="display: flex; justify-content: center;">
        <%= link_to "Add review", request_user_path(request, request.user), class: 'btn btn-green'%>-->

        </div>
      </div>
      <% end %>
    <% end %>
  </ul>
</div>
