<%# <%# when form is working render on new and edit.html %>
<h1>Add Book</h1>
<%= simple_form_for(book) do |f| %>
<%= f.label :name  %>
<%= f.text_field :name %>
<%= f.label :genre %>
<%= f.text_field :genre %>
<%= f.label :author %>
<%= f.text_field :author %>
<%= f.label :condition %>
<%= f.text_field :condition %>
<%= f.label :photo %>
<%= f.submit %>
<% end %>
