<div class='wrapper'>
  <div class='bottom'>
    <p>
      No more books!
    </p>
  </div>

    <% @books.each do |book| %>
      <input type='checkbox' checked />
        <article>
        <div class="card-book">
          <%= link_to book_path(book) do %>
            <img src="<%= book.photo %>" alt="book cover" class="cover">
          <% end %>
          <div class="card-book-infos">
            <div>
              <h2><%= book.name[0,30] %></h2>
              <p>Author: <%= book.author[0].gsub(/[^0-9a-z ]/i, ' ') %></p>
              <p>Subject: <%= book.genre.gsub("--", " and ") %></p>
            </div>
            <h2 class="card-book-barcode"><%=  %></h2>
            <%= image_tag "user.png", class: "card-book-user avatar-bordered" %>
          </div>
        </article>
    <% end %>

  <div id='next-btn'>Next</div>

</div>
