<div class="container">
  <h1>Books</h1>
  <% @books.each do |book| %>
    <div class="card-trip">
      <%= link_to book_path(book) do %>
        <img src="<%= book.photo %>" alt="book cover">
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= book.name %></h2>
          <p><%= book.author %></p>
          <p><%= book.genre %></p>
        </div>
        <h2 class="card-trip-pricing"><%= book.barcode %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
