<div class="show-page">
  <div class="container">
  <br>
    <%= link_to "<", books_path, class: "back-link"%>

    <div class="book-info">
      <img src="<%= @book.photo %>" alt="book cover" class="book-cover-img">
      <p><strong>Title:</strong> "<%= @book.name %>"</p>
      <p><strong>Author:</strong> <%= @book.author.gsub(/"|\[|\]/, '').split(',').reverse.join(" ").lstrip %></p>
      <p><strong>Genre:</strong> <%= @book.genre %></p>
      <p><strong>Description:</strong> <%= @book.description %></p>
      <p><strong>Uploaded by</strong> <%= cl_image_tag @book.user.avatar.key,class:"card-book-user avatar-bordered"  %> <%= @book.user.first_name %> <%= @book.user.last_name[0] %>.</p>
    </div>
    <% if @book.user != current_user %>
      <div class="btn-request">
        <%= simple_form_for [@book, @request] do |f| %>
          <%= f.submit "Swap", class: "btn swap-btn-green" %>
        <% end %>
        <% else %>
          <button class="btn btn-request" style="justify-content: center; background-color: #4F7D75; color: white; display: flex; font-size: 16px; width: 130px; height: 40px; margin-top: -3px;">Edit the book</button>
        <% end %>
      </div>
    <br>
  </div>
</div>
