<h1>Book</h1>
<%= @book.name %>
<%= @book.photo %>
<%= @book.author %>
<%= @book.genre %>
<br>
<%= @book.user.first_name %> <%= @book.user.last_name %>
<%# added link to see users reviews %>

<p>Reviews</p>
<% if @reviews %>
  <% @reviews.each do |review| %>
    <p><%= review %></p>
  <% end %>
<% end %>
<br>

<%# <%# when form is working render on new and edit.html %>
<%= simple_form_for [@book, @request] do |f| %>
<%= f.submit %>
<% end %>

<%# <%= link_to "Request book", book_requests_path(user_id: current_user, book_id: @book), data: {turbo_method: :post} %> %>
<%# added link to go back to books%>
<%= link_to "Back to Books", books_path %>
